PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.deps.json
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.dll
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.pdb
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.cache
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.dgspec.json
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.g.props
PaymentContext.Domain/obj/PaymentContext.Domain.csproj.nuget.g.targets
PaymentContext.Domain/obj/project.assets.json
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.AssemblyInfo.cs
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.AssemblyInfoInputs.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.assets.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.CopyComplete
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.FileListAbsolute.txt
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csprojAssemblyReference.cache
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.dll
PaymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.pdb
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.deps.json
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Shared/bin/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.cache
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.dgspec.json
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.g.props
PaymentContext.Shared/obj/PaymentContext.Shared.csproj.nuget.g.targets
PaymentContext.Shared/obj/project.assets.json
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.AssemblyInfo.cs
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.AssemblyInfoInputs.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.assets.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csproj.FileListAbsolute.txt
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csprojAssemblyReference.cache
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.dll
PaymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.pdb
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Domain.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Domain.pdb
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Shared.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Shared.pdb
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.deps.json
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.pdb
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.runtimeconfig.dev.json
PaymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.runtimeconfig.json
PaymentContext.Tests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/testhost.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PaymentContext.Tests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.cache
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.dgspec.json
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.g.props
PaymentContext.Tests/obj/PaymentContext.Tests.csproj.nuget.g.targets
PaymentContext.Tests/obj/project.assets.json
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.AssemblyInfo.cs
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.AssemblyInfoInputs.cache
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.assets.cache
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csproj.CopyComplete
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csproj.FileListAbsolute.txt
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csprojAssemblyReference.cache
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.dll
PaymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.pdb
.vs/PaymentContext/DesignTimeBuild/.dtbcache
.vs/PaymentContext/v16/.suo
.vs/PaymentContext/v16/Server/sqlite3/db.lock
.vs/PaymentContext/v16/Server/sqlite3/storage.ide
.vscode/launch.json
.vscode/tasks.json
